@import '../../styles/settings.scss';

.container {
    margin: 0 auto;
    max-width: 1200px
}
.nav {
    background-color: darken($color-dark, 3%);
    font-size: 24px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper span {
    margin: auto 20px;
}

.navList {
    list-style-type: none;
}

.navList li {
    display: inline-block;
    padding: 10px 20px;
}

.navList li a {
    text-decoration: none;
    color: white;
}
.navList .linkActive {
    color: $color-warning;
  }